.copyright{
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0px 0px;
  }
.b{
    font-weight: 600;
    font-size: X-large;
}
.logo {
  height: 8em;
  padding: 1.5em;
}
.id{
  border-left: 5px solid rgb(56, 134, 197);
}
.p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;
  margin: -16px -370px 0px 0px;
}
.b1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}