*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(310deg, #ffffff ,#81cab8 ,#ffffff98 , #7ea9d6cc,#ffffff , #ec9972b0);
}

